body {
  background-color: #f8f1eb;
  color: #c59ca3;
}
h3 { 
  color: #b86662 !important;
}
.nav { 
  display: flex;
  justify-content: space-evenly;
}

.nav a {
  font-size: 20px; 
  text-decoration: none;
  color: #c59ca3;
}

.nav a:hover {
  color: #ddb3b1;
}

.bodyImg { 
  width: 30%;
  height: 30%;
}

.bodyText { 
  display: flex;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 250px;
  justify-content: center;
  height: 100vh;
}

.bodySect {
display: flex;
justify-content: row;
}

.bodySect h3 {
  padding-left: 40px;
  padding-right: 40px;
}

.bodySect p {
  width: 35%;
}